*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #800020;
    font-family: "Poppins", sans-serif;
}

/* 3. El logo */
.link-del-logo {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}
img {
    width: 100%;      /* Ocupa el 100% del ancho de su div padre */
    max-width: 400px; /* Pero que no crezca más de 400px */
    height: auto;
}

/* 4. Quitar los puntos de la lista y alinear horizontalmente */
nav ul {
    display: flex;
    list-style: none;
    gap: 20px; /* Espacio entre cada enlace del menú */
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.menu-container {
    display: flex;
    justify-content: space-between; /* Empuja el logo a la izquierda y el nav a la derecha */
    align-items: center;           /* Centra verticalmente ambos elementos */
    padding: 20px 50px;
    background-color: #333;        /* Color de fondo para visualizarlo */
}

/*Esta es la parte de los sistemas operativos*/

.linux{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.kali-linux, .black-arch, .parrot-os{
    display: flex;
    flex-direction: column; /* Pone los elementos uno sobre otro */
    align-items: center;    /* Centra la imagen y el botón horizontalmente */
    text-align: center;
}

button{
    background-color: #ffffff; /* Color Cian */
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    font-weight: bold;
}

button a{
    color: #333;
}